@page
@model IndexModel
@using NumberGuessing.Model
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hádání náhodného čísla</h1>

    <form method="post">
        <input type="number" placeholder="Délka strany A" required min="0" />

        <input type="submit" value="Hádej!" />
    </form>
</div>
